---
import {SEO} from 'astro-seo';
import Header from '@/components/Header.astro';
import Footer from '../components/Footer.astro';


interface Props {
    title: string;
    description: string;
}

const {title, description} = Astro.props;
import '@/styles/global.css'

import {SITE_TITLE, SITE_DESCRIPTION} from '@/consts';
import {useTranslations, LOCALES, getLocalePaths, type Lang} from '@/i18n';
const t = useTranslations(Astro.currentLocale as Lang);

const localeTitle = title ? `${title} - ${t(SITE_TITLE)}` : t(SITE_TITLE);
const localeDescription = description || t(SITE_DESCRIPTION);
---
<html class={'h-full'}>
<head>
    <meta charset="UTF-8">
    <!--font preload -->
    <link
            rel="preload"
            href="/fonts/Montserrat-VariableFont_wght.ttf"
            as="font"
            crossorigin
    />

    <SEO
            title={t(localeTitle)}
            description={t(localeDescription)}
            openGraph={{
                basic: {
                    title: title,
                    type: 'website',
                    image: 'dsf' //TODO: add image link

                }
            }}

    />
</head>
<body class="bg-corporate-light h-full flex flex-col text-corporate-main">
<header>
    <Header/>
</header>
<main class={'flex-1 flex flex-col gap-3'}>
    <slot/>
</main>
<Footer/>
</body>
</html>
