---
import {SEO} from 'astro-seo';
import Header from '@/components/Header.astro';
import Footer from '../components/Footer.astro';

import '@/styles/global.css'

interface Props {
    title: string;
    description: string;
}

const {title, description} = Astro.props;

import {SITE_TITLE, SITE_DESCRIPTION} from '@/consts';
import {useTranslations, LOCALES, getLocalePaths, type Lang} from '@/i18n';

const language = Astro.currentLocale as Lang
const t = useTranslations(language);

const localeTitle = title ? `${title}` : t(SITE_TITLE);
const localeDescription = description || t(SITE_DESCRIPTION);
---
<html lang={language} class={'h-full'}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content={t('personal.name')}/>
    <meta name="keywords" content={`${t('personal.name')}, ${t('hero.title')}, ${t('personal.address.city')}`}/>
    <link rel="icon" href="/favicon.ico">
    <link rel="sitemap" href="/sitemap-index.xml"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.1.0/dist/cookieconsent.css">
    <!--font preload -->
    <link
            rel="preload"
            href="/fonts/Montserrat-VariableFont_wght.ttf"
            as="font"
            crossorigin
    />

    <SEO
            title={t(localeTitle)}
            description={t(localeDescription)}
            titleDefault={t(localeTitle)}
            openGraph={{
                basic: {
                    title: title,
                    type: 'website',
                    image: 'https://raw.githubusercontent.com/dev-fritte/astro-website-ahipo/refs/heads/master/src/images/melanie_ahipo.png',
                }
            }}

    />
</head>
<body class="bg-corporate-light h-full flex flex-col text-corporate-main">
<header>
    <Header/>
</header>
<main class={'flex-1 flex flex-col gap-3 mt-20'}>
    <slot/>
</main>
<Footer/>
</body>
</html>
